<main class="center">
    <h1>{{title}}</h1>
</main>
<h2>{{subtitle}}</h2>
<h3>
    {{byline}}
    {{hero_image}}
</h3>
{{#each sections}}
{{> (prefixPartial type) . }}
{{/each}}

{{#each relatedPosts}}
{{slug}} {{title}}
{{/each}}
{{#each recentPosts}}
{{slug}} {{title}}
{{/each}}
</body>