<div itemscope itemtype="http://schema.org/Blog">
    <main class="center">
        <h1 itemprop="name">{{title}}</h1>
    </main>
    <h2 href="subtitle.html" itemprop="url" itemscope itemtype="http://schema.org/Organization">{{subtitle}}</h2>
    <h3 itemprop="text">
        {{byline}}
    </h3>
    <h3>
        {{hero_image}}
    </h3>

    {{#each sections}}
    {{> (prefixPartial type) . }}
    {{/each}}

    <h4>Related posts</h4>
    <ul>
    {{#each relatedPosts}}
    <li><a href="https://www.w3schools.com/html/default.asp">{{slug}}</a> {{title}}</li>
    {{/each}}
    </ul>
    <h4>Recent posts</h4>
    
    {{#each recentPosts}}
    <li>{{slug}} {{title}}</li>
    {{/each}}
</div>
</body>